body {
    font-family: ' Merriweather;';
}

nav {
    display: flex;
}

.nav-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.header {
    color: #FFF;
    width: 632px;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.banner-one,
.banner-first {
    width: 600px;
    display: flex;
    padding: 50px 40px 40px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    }
.title{
    text-align: center;
}